@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
}
:root{
    --cor-verd: #008000;
    --cor-back: #EEE8AA;
    --cor-num: #FF0000;
    --shadow-1: 04px 6px 0 rgba(0,0,0,0.1), 
                06px 10px 0 rgba(0,0,0,0.1);
}
body{
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    border-radius: 16px 16px 0 0;
    max-width: 400px;
    min-height: 600px;
    border: 2px solid var(--cor-verd);
    padding: 5px;
    box-shadow: var(--shadow-1);
}
header{
    height: 100px;
}
header img{
    height: 100%;
    width: 100%;
    border-radius: 16px 16px 0 0;
}
main{
    padding: 5px;
    background-color: var(--cor-back);
    min-height: 250px;
}
main button{
    cursor: pointer;
    background-color: transparent;
    border: 0;
    color: var(--cor-num);
    font-size: 1.0em;
    margin: 3px;
    margin-top: 15px;
    border: 1px solid var(--cor-verd);
    border-radius: 3px;
    padding: 3px;
}
.btn{
    padding: 5px;
    width: 130px;
    height: 40px;
    margin: 15px;
    cursor: pointer;
    font-size: 1.5em;
    border-radius: 6px;
    border: 1px solid var(--cor-verd);
    color: var(--cor-verd);
    box-shadow: var(--shadow-1);
}
.btn:hover{
    border: 2px solid var(--cor-verd)
}
.resultado{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 55px;
}
.resultadoCicle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1.8em;
    color: #fff;
    background-color: var(--cor-verd);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: var(--shadow-1);
}
footer{
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    font-weight: 700;
    color: dimgray;
    font-size: 1em;
    padding: 15px;
}
footer .valor{
    color: var(--cor-num)
}
footer #valor{
    border-right: solid var(--cor-verd);
    padding-right: 10px;
}
footer #acertos{
    border-left: solid var(--cor-verd);
    padding-left: 10px;
}

/** Mobile Responsive 390px */
@media(max-width: 390px) {
    main{
        min-height: 170px;
    }
    main button{
        margin: 1px;
        padding: 1px;
    }
    .container{
        min-height: 450px;
    }
}